<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Eployeregister</display-name>
    <servlet-name>Eployeregister</servlet-name>
    <servlet-class>com.Servlet.Eployeregister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Eployeregister</servlet-name>
    <url-pattern>/Eployeregister</url-pattern>
  </servlet-mapping>
  <display-name>bankFinal</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EmployeLogin</display-name>
    <servlet-name>EmployeLogin</servlet-name>
    <servlet-class>com.Servlet.EmployeLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeLogin</servlet-name>
    <url-pattern>/EmployeLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addcus</display-name>
    <servlet-name>addcus</servlet-name>
    <servlet-class>com.Servlet.addcus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addcus</servlet-name>
    <url-pattern>/addcus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logincus</display-name>
    <servlet-name>logincus</servlet-name>
    <servlet-class>com.Servlet.logincus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logincus</servlet-name>
    <url-pattern>/logincus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerServlet</display-name>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>com.Servlet.CustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/CustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>transactionServlet</display-name>
    <servlet-name>transactionServlet</servlet-name>
    <servlet-class>com.Servlet.transactionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>transactionServlet</servlet-name>
    <url-pattern>/transactionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>downloadservlet</display-name>
    <servlet-name>downloadservlet</servlet-name>
    <servlet-class>com.Servlet.downloadservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downloadservlet</servlet-name>
    <url-pattern>/downloadservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>depositeser</display-name>
    <servlet-name>depositeser</servlet-name>
    <servlet-class>com.Servlet.depositeser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>depositeser</servlet-name>
    <url-pattern>/depositeser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>withdraw</display-name>
    <servlet-name>withdraw</servlet-name>
    <servlet-class>com.Servlet.withdraw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>withdraw</servlet-name>
    <url-pattern>/withdraw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>forgotpass</display-name>
    <servlet-name>forgotpass</servlet-name>
    <servlet-class>com.Servlet.forgotpass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forgotpass</servlet-name>
    <url-pattern>/forgotpass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>connection</display-name>
    <servlet-name>connection</servlet-name>
    <servlet-class>com.db.connection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>connection</servlet-name>
    <url-pattern>/connection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>resetpassword</display-name>
    <servlet-name>resetpassword</servlet-name>
    <servlet-class>com.Servlet.resetpassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>resetpassword</servlet-name>
    <url-pattern>/resetpassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateServlet</display-name>
    <servlet-name>updateServlet</servlet-name>
    <servlet-class>com.Servlet.updateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateServlet</servlet-name>
    <url-pattern>/updateServlet</url-pattern>
  </servlet-mapping>
</web-app>